.nav-item{
    margin-left: 20px;
}
.navbar{
    background-color: white;
}
.ovr-body{
    background-color: linear-gradient(45deg, #131086, #b621f3);
}
.searchbutton{
    width: 20px;
}
.Uploads{
    text-align: center;
    background-color: white;
}
.Downloads{
    text-align: center;
    background-color: white;
}